---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Abid Aboobaker">
  <main
    class="flex sm:bg-background bg-white sm:flex-row sm:space-y-0 space-y-[78px] sm:space-x-4 flex-col sm:justify-between sm:h-screen h-full sm:max-h-screen w-full text-black xl:px-[140px] sm:px-10 px-6 2xl:max-w-[1440px] 2xl:w-screen 2xl:mx-auto"
  >
    <div
      class="flex flex-col justify-between min-w-[170px] items-start h-full sm:max-h-[628px] sm:pt-[105px] sm:py-0 pt-[123px]"
    >
      <button class="flex group relative">
        <img
          src="/logo.png"
          class="sm:w-[170px] w-[100px] pl-1 sm:pl-0 h-auto"
          alt="logo"
        />
        <div
          class="absolute -right-20 z-50 -top-11 invisible group-hover:visible group-hover:animate-fadeIn"
        >
          <img
            src="/abid.png"
            class="sm:h-[284px] w-[100px] w-auto"
            alt="abid"
          />
        </div>
      </button>
      <div class="hidden sm:flex flex-col items-start space-y-12">
        <div class="flex group">
          <button
            class="group-hover:hidden flex text-base font-medium text-black tracking-[-0.48px] px-4 py-2 bg-secondary border border-black rounded-[40px]"
          >
            write to me
          </button>
          <button
            class="copy-button group-hover:flex whitespace-nowrap group-hover:animate-fadeInLeft hidden text-base font-medium text-white tracking-[-0.48px] px-4 py-2 bg-black rounded-[40px]"
          >
            📫 copy email
          </button>
        </div>
        <div class="flex flex-col space-y-2">
          <p
            class="text-base whitespace-nowrap font-medium text-black tracking-[-0.48px]"
          >
            Abid Aboobaker
          </p>
          <p
            class="text-base whitespace-nowrap text-[12px] italic leading-normal font-normal text-black/50 tracking-[-0.36px]"
          >
            the 0 → 1 → ∞ guy!
          </p>
        </div>
      </div>
    </div>
    <div class="flex flex-col sm:space-y-[72px] space-y-[78px]">
      <div
        class="flex flex-col space-y-8 overflow-y-scroll sm:max-w-[768px] sm:h-screen scrollbar-hide sm:pt-[105px]"
      >
        <div class="relative">
          <h2
            class="text-black sm:text-[40px] text-[28px] leading-[40.88px] sm:leading-normal sm:tracking-[-1.6px] tracking-[-1.12px] font-normal"
          >
            A lifelong{" "}
            <span class="relative">
              tinkerer
              <span
                class="absolute sm:-top-8 top-0 right-0 sm:animate-tinkerer animate-tinkererMin"
              >
                <img
                  src="/icons/tinkerer.png"
                  class="sm:min-w-[39px] min-w-[24px] sm:min-h-[52px] min-h-[31px] sm:max-w-[39px] max-w-[24px] sm:max-h-[52px] max-h-[31px]"
                  alt="tinkerer"
                />
              </span>
            </span>{" "}
             with an enduring fascination for{" "}
            <span class="relative">
              human
              <span class="absolute -top-4 -right-4 animate-human">
                <img
                  src="/icons/human.png"
                  class="sm:min-w-[39px] min-w-[24px] sm:min-h-[52px] min-h-[31px] sm:max-w-[39px] max-w-[24px] sm:max-h-[52px] max-h-[31px]"
                  alt="human"
                />
              </span>
            </span>{" "}
             behaviour. I&apos;m a social science college dropout who began{" "}
            <span class="relative">
              coding
              <span class="absolute top-8 right-1/2 animate-coding">
                <img
                  src="/icons/coding.png"
                  class="sm:min-w-[39px] min-w-[24px] sm:min-h-[52px] min-h-[31px] sm:max-w-[39px] max-w-[24px] sm:max-h-[52px] max-h-[31px]"
                  alt="coding"
                />
              </span>
            </span>{" "}
             &{" "}
            <span class="relative">
              design
              <span class="absolute top-5 right-0 animate-design">
                <img
                  src="/icons/design.png"
                  class="sm:min-w-[39px] min-w-[24px] sm:min-h-[52px] min-h-[31px] sm:max-w-[39px] max-w-[24px] sm:max-h-[52px] max-h-[31px]"
                  alt="design"
                />
              </span>
            </span>{" "}
             at 16.
          </h2>
        </div>
        <div
          class="flex flex-col space-y-4 text-black sm:text-[24px] text-[18px] sm:leading-[33px] leading-[27px] font-normal sm:tracking-[-0.48px] tracking-[-0.36px]"
        >
          <div class="">
            My experience spans managing design, programming and product
            strategy across notable companies like{" "}
            <a
              href="https://www.truecaller.com/"
              target="_blank"
              rel="noopener noreferrer"
              class="relative"
            >
              Truecaller
              <span class="absolute hidden sm:flex -bottom-0.5 left-0">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="99"
                  height="7"
                  viewBox="0 0 99 7"
                  fill="none"
                >
                  <path
                    d="M0.65094 1.73594C4.52075 0.106544 9.91008 2.15635 13.6918 2.91777C20.7408 4.33702 28.7388 6.68215 35.9835 5.40368C38.8457 4.89859 40.9089 3.17956 43.8895 3.20303C51.2231 3.26078 58.4159 5.0369 65.794 5.0369C70.9321 5.0369 76.1564 3.96707 81.3208 3.56981C87.0364 3.13015 92.4737 3.93658 98.2127 3.93658"
                    stroke="black"
                    stroke-linecap="round"
                    stroke-dasharray="2 2"></path>
                </svg>
              </span>
            </a>{" "}
             ,{" "}
            <a
              href="https://unacademy.com/"
              target="_blank"
              rel="noopener noreferrer"
              class="relative"
            >
              Unacademy
              <span class="absolute hidden sm:flex -bottom-0.5 left-0">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="117"
                  height="5"
                  viewBox="0 0 117 5"
                  fill="none"
                >
                  <path
                    d="M116.352 4.0024C102.577 4.0024 88.8028 4.0024 75.0284 4.0024C61.2421 4.0024 47.3014 4.56286 33.5423 3.55412C28.6597 3.19616 23.7224 2.58745 18.8713 1.88326C17.5973 1.69833 16.2255 1.21768 14.9183 1.45536C12.7022 1.85829 10.6973 3.08708 8.35713 3.24847C7.01479 3.34105 5.6485 3.26885 4.30224 3.26885C3.01853 3.26885 -0.832593 3.26885 0.451115 3.26885"
                    stroke="black"
                    stroke-linecap="round"
                    stroke-dasharray="2 2"></path>
                </svg>
              </span>
            </a>{" "}
             ,{" "}
            <a
              href="http://www.chillr.in/"
              target="_blank"
              rel="noopener noreferrer"
              class="relative"
            >
              Chillr
              <span class="absolute hidden sm:flex -bottom-0.5 left-0">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="46"
                  height="3"
                  viewBox="0 0 46 3"
                  fill="none"
                >
                  <path
                    d="M0.690308 1.63562C10.2799 1.63562 19.8326 0.902069 29.4209 0.902069C31.8951 0.902069 37.6505 -0.211461 39.5683 2.18578C39.8572 2.54681 44.8029 1.11333 45.4367 0.902069"
                    stroke="black"
                    stroke-linecap="round"
                    stroke-dasharray="2 2"></path>
                </svg>
              </span>
            </a>{" "}
             and{" "}
            <a
              href="https://www.zestmoney.in/"
              target="_blank"
              rel="noopener noreferrer"
              class="relative"
            >
              Zestmoney
              <span class="absolute hidden sm:flex -bottom-0.5 left-0">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="107"
                  height="2"
                  viewBox="0 0 107 2"
                  fill="none"
                >
                  <path
                    d="M1.00562 1.04083H106.336"
                    stroke="black"
                    stroke-linecap="round"
                    stroke-dasharray="2 2"></path>
                </svg>
              </span>
            </a>
             .
          </div>
          <p>
            I&apos;m a co-founder of{" "}
            <a
              href="https://www.tinkerhub.org/"
              target="_blank"
              rel="noopener noreferrer"
              class="relative"
            >
              Tinkerhub
              <span class="absolute hidden sm:flex -bottom-0.5 left-0">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="106"
                  height="4"
                  viewBox="0 0 106 4"
                  fill="none"
                >
                  <path
                    d="M1.26953 3.42502C24.0627 3.42502 46.8559 3.42502 69.6491 3.42502C74.9545 3.42502 102.496 -1.89038 105.154 3.42502"
                    stroke="black"
                    stroke-linecap="round"
                    stroke-dasharray="2 2"></path>
                </svg>
              </span>
            </a>{" "}
             , a non-profit established 8 years ago that focuses on upskilling
            communities through hands-on learning & reciprocal teaching.
          </p>
          <p>
            I thrive on the challenge of shaping 0 to 1 products and have
            partnered with diverse companies to ship their MVPs. Though my path
            has been non-linear, my relentless curiosity to understand users and
            systems has enabled me to contribute value.
          </p>
          <p>
            Currently, I run{" "}
            <a
              href="https://hoomans.dev/"
              target="_blank"
              rel="noopener noreferrer"
              class="relative"
            >
              a small product studio
              <span class="absolute hidden sm:flex -bottom-0.5 left-0">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="231"
                  height="6"
                  viewBox="0 0 231 6"
                  fill="none"
                >
                  <path
                    d="M230.108 2.61327C172.566 2.61327 115.304 1.29828 57.8445 1.29828C38.5984 1.29828 20.2863 5.24325 1.29987 5.24325"
                    stroke="black"
                    stroke-linecap="round"
                    stroke-dasharray="2 2"></path>
                </svg>
              </span>
            </a>{" "}
             fuelled by my passion for building and creating.
          </p>
        </div>
        <p
          class="sm:flex hidden text-[16px] pb-[115px] font-normal leading-[33px] tracking-[-0.32px] text-black/50"
        >
		<span class="flex space-x-1 items-start h-[33px]">
			<span class="text-sm">##</span> <span>content created by</span>
			<a href="https://claude.ai" class="underline">claude.ai</a>
        </p>
      </div>
      <div class="flex sm:hidden items-start justify-between">
        <div class="flex flex-col space-y-2 items-start">
          <p
            class="text-base whitespace-nowrap font-medium text-black tracking-[-0.48px]"
          >
            Abid Aboobaker
          </p>
          <p
            class="text-base whitespace-nowrap text-[12px] italic leading-normal font-normal text-black/50 tracking-[-0.36px]"
          >
            the 0 → 1 → ∞ guy!
          </p>
        </div>
        <div class="flex group">
          <button
            class="group-hover:hidden flex text-base font-medium text-black tracking-[-0.48px] px-4 py-2 bg-secondary border border-black rounded-[40px]"
          >
            write to me
          </button>
          <button
            class="copy-button group-hover:flex whitespace-nowrap group-hover:animate-fadeInLeft hidden text-base font-medium text-white tracking-[-0.48px] px-4 py-2 bg-black rounded-[40px]"
          >
            📫 copy email
          </button>
        </div>
      </div>
      <p
        class="sm:hidden flex text-[16px] pb-[106px] font-normal leading-[33px] tracking-[-0.32px] text-black/50"
      >
	  <span class="flex space-x-1 items-start h-[33px]">
		<span class="text-sm">##</span> <span>content created by</span>
		<a href="https://claude.ai" class="underline">claude.ai</a>
      </p>
    </span>
	</div>
  </main>
</Layout>

<script>
  // Find all buttons with the `alert` class on the page.
  const buttons = document.querySelectorAll("button.copy-button");

  // Handle clicks on each button.
  buttons.forEach((button) => {
    button.addEventListener("click", async () => {
      const textToCopy = "ab@hoomans.dev";

      try {
        await navigator.clipboard.writeText(textToCopy);

        // Change the button text to "Copied" for 1 second.
        button.textContent = "copied successfully ✨";
        setTimeout(() => {
          button.textContent = "📫 copy email";
        }, 500);
      } catch (error) {
        console.error(error);
      }
    });
  });
</script>
